body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: darkgreen;
    margin-top: 20px;
}

#controls, #subjectMenu, #readingControls {
    background-color: #7cb7e3;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    width: 300px;
}

#controls label, #subjectMenu label, #readingControls label {
    display: block;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
}

#controls select, #controls input[type="number"], #controls input[type="file"], #controls button,
#subjectMenu button, #readingControls select, #readingControls input[type="number"], #readingControls button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

#controls button, #subjectMenu button, #readingControls button {
    background-color: #1E90FF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#controls button:hover, #subjectMenu button:hover, #readingControls button:hover {
    background-color: #166ab1;
}

#wordDisplay {
    font-size: 72px;
    display: none;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%; /* Voegt breedte toe om de text in het midden te plaatsen */
    display: flex;
}

#resultDisplay {
    font-size: 2em;
    text-align: center;
    display: none;
    margin-top: 20px;
    height: 20vh;
    overflow-y: auto;
    width: 80%;
}

#controlButtons, #closeButton, #backToMenuButton {
    display: none;
}

#controlButtons {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

#controlButtons button, #closeButton, #backToMenuButton {
    padding: 10px 20px;
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

#controlButtons button:hover, #closeButton:hover, #backToMenuButton:hover {
    background-color: #166ab1;
}

#backToMenuButton {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.dropbtn {
    background-color: #1E90FF;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7cb7e3;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 10px;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
}

.dropdown-content input[type="file"] {
    display: block;
    margin: 5px 0;
    cursor: pointer;
}

.selected-pakket {
    font-size: 1em;
    color: #000;
    margin-bottom: 10px;
}

.pakket-element {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.pakket-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    cursor: pointer;
}

.pakket-buttons {
    display: flex;
    gap: 5px;
}

.edit-button, .delete-button {
    padding: 5px 10px;
    font-size: 0.8em;
}

.edit-button {
    background-color: #4CAF50;
    color: white;
}

.delete-button {
    background-color: #f44336;
    color: white;
}
